###### OS files ######
*.sh
saveKnn
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

###### IDEA Config ######
.idea/
/build
###### data #######
/datasets

###### compiled files ######
cmake_install.cmake
CMakeCache.txt
cmake-build-debug/
Makefile
*.com
*.class
*.dll
*.exe
*.o
*.so
*.cbp
Vis


Basasuya.sh
Make.sh
clear.sh
history.sh

tuningTest.sh

#data#
/data/*
!/data/*.py
!/data/plot/
/data/plot/*
!/data/plot/*.py
!/data/plot/website/
/data/experiments/*
!/data/experiments/*.py
*.png
.vscode
# *.py
annoy_index_file

# plot folder #
###############
plot/*.png
plot/*.txt
plot/out/*
plot/png/*
.directory

tmp.*
*.txt
core
src/CMakeFiles/
test.sh

/resultPara

/ogdf

resultGraph*
*.csv

.DS_Store
node_modules
npm-debug.log
build
yarn-error.log
package-lock.json
yarn.lock
.vscode
.env
.idea
__pycache__
.ipynb_checkpoints

*.cu