@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.d3-tipNode {
  /* word-wrap: break-word; */
  line-height: 1;
  padding: 6px;
  width:200px;
  background: #000000;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  font-weight:bold;
}

.d3-tipLink {
  /* word-wrap: break-word; */
  line-height: 1;
  padding: 6px;
  width:200px;
  background: #888888;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  font-weight:bold;
}

/* circle :hover { 
  stroke: rgb(80,80,80);
} */

line {
  z-index: 2
}
.lasso path {
  stroke: rgb(80,80,80);
  stroke-width:2px;
}

.lasso .drawn {
  fill-opacity:.05 ;
}

.lasso .loop_close {
  fill:none;
  stroke-dasharray: 4,4;
}

.lasso .origin {
  fill:#3399FF;
  fill-opacity:.5;
}

.not_possible {
  fill:rgb(200,200,200);
}

.possible {
  fill:#EC888C;
}